html, body {
	height: 100%;
	overflow-x: hidden;
}

body{
    background: linear-gradient(50deg,#506266, #A3AB78);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

.navbar{
    padding: 15px 0px;
	background: rgba(0,0,0,0.5);
}

#navbarNav{
    display: flex;
    justify-content:center;
}

.navbar-brand{
    padding: 0;
    border-color: #F2F2F2;
    border-width: 3px;
    border-left-style:inset;
    border-top-style:inset;
    font-family: "Playwrite US Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    font-size: 2.5em;
    color: #F2F2F2;
    letter-spacing: -0.01em;
}

.navbar-brand:hover{
    color: #828a8a;
}

.nav-link{
    color: #F2F2F2;
    font-size: 1.5em;
}

.nav-link:hover{
    color:#828a8a
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

.card{
    border-radius: 20px;
    background-color:#10454F;
    margin-left:50px;
    margin-bottom: 70px;
}

.card-title{
    color: #F2F2F2;
    font-size: 1.8em;
}

.card-text{
    color: #F2F2F2;
}

.btn-primary{
    border-color: #506266;
    color: #10454F;
    background-color: #BDE038;
}

.btn-primary:hover{
    background-color: #828a8a;
}

.card-body{
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
	background: #506266;
	padding: 5px 0px 5px 0px;
	position: relative;
}

#introducao{
    padding: 15px;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

#img-footer{
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-ul{
    display: flex;
    justify-content: flex-start;

}

.direitos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.direitos-text{
    font-size: 1.5em;
    color: #F2F2F2;
}

.card-img-top{
    border-radius: 20px;
}